.navbar1 ul {
    list-style: none;
}
.navbar1 ul li a{
    text-decoration: none;
}
.navbar1 img.logo {
    max-width: 100px;
}
.navbar-title {
    min-width: 50%;
}
.navbar1-link {
    min-width: 45%;
}
.navbar-account {
    min-width: 5%;
}
.navbar1-link ul{
    min-width: 100%;
    height: 100%;
    transition: .75s;
}
.navbar1-link li a{
    color: black;
    transition: .25s;
    width: 100%;
}
.navbar1-link li a:hover {
    background: black;
    color: white;
}
.navbar1 {
    background: rgb(255, 255, 255);
}

@media (max-width: 992px) {
    .navbar-title,
    .navbar1-link ul{
        background: white;
    }
    .navbar1  {
        background: rgba(255, 255, 255, 0);
    }
    .navbar-title {
        min-width: 100%;
    }
    .navbar1-link ul{
        min-width: 75vw;
        min-height: 90vh;
        transform: translateX(-100%);
    }
    .navbar1-link ul.true{
        transform: translateX(0%);
    }
}
.navbar1 input {
    border-radius: 20px;
    padding: 7px 15px;
    transition: .25s;
    width: 400px;
}
.navbar1 input:focus {
    transform: scale(1.05);
    box-shadow: 0px 0px 4px 2px rgba(3, 3, 3, 0.329);
}
@media (max-width:600px) {
    .navbar1 img.logo {
        max-width: 50px;
    }

    .navbar1 input {
        padding: 7px 15px;
        width:200px;
    }
}
.hamburger-menu{
  cursor: pointer;  
}
.hamburger-1 {
    height: 5px;
    width: 40px;
}
.hamburger-2 {
    height: 5px;
    width: 35px;
}
.hamburger-3 {
    height: 5px;
    width: 25px;
}
.hamburger-1,
.hamburger-2,
.hamburger-3 {
    margin: 3px;
    background: #D2003A;
    border-radius: 10px;
    transition: .5s;
}

.hamburger-1.true {
    transform: rotate(45deg) translate(10px, 1px);
}

.hamburger-2.true  {
    opacity: 0;
    transform: translatex(20px);
}

.hamburger-3.true  {
 width: 40px;
 transform: rotate(-45deg) translate(13px, -5px);
}

.body-content{
    background-color: #0E1028;
}

@media (max-width: 768px) {
    .body-content{
        padding-top: 150px;
    }
}

@media (max-width: 600px) {
    .body-content{
        padding-top: 10px;
    }
}

.row-content{
    min-height: 100vh;
}
.content2 .left {
    z-index: 1;
}
@media (max-width: 600px) {
    .container.content2{
       padding-top: 150px;
    }
    .right h1{
        padding-top: 10px;
    }
    .right p{
        padding-bottom: 10px;
    }
    .content2 .left img{
        width: 100%;
        display: flex;
        margin: 0 auto;
    }
}
.content2 .left svg {
    z-index: -1;
    left: 15%;
    top: -10%;
    max-width: 230px;
   
}

.content2 .left img {
    max-width: 280px;
   
    margin-right: 6rem;
}

.content2 .right{
    flex-direction: column;
    margin-top: 2rem;
}
.content2 .right p {
    text-align: justify;
    
}
.right{
    color: white;
}
.content3 {
    overflow-x: auto; 
    white-space: inherit;
}
.content3 .card1 {
    max-width: 300px;
    width: 100%;
    min-width: 200px;
}

.content3 .button {
    text-decoration: none;
    color: white;
    border: 3px solid rgb(193,39,45);
    padding: 10px 20px;
    border-radius: 20px;
    transition: .25s;
    background: black;
}

.content3 .button:hover {
    background: rgb(193,39,45);
    border: none;
}

footer.row {
    margin:auto!important;
}
.footer .logo img {
    max-width: 200px;
    max-height: 150px;
}
.footer .navigation a{
    text-decoration: none;
    color: white;
}
.footer .sosialMedia svg{
    width: 80%;
    color: white;
    max-width: 50px;
}
.footer .support a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
}
.footer.row{
    margin-left: auto!important;
    margin-right: auto!important;
}
.bg-1 {
    background: #0E1028;
    z-index: -2;
}